.flex-container {
    display: flex;
    justify-content: space-between;
    
    @include responsive(tablet) {
        flex-flow: column;

        .side-wrapper {
            width: 100% !important;
            border: none !important;
        }
    }

    &.for-programs {

        .side-wrapper {
            width: 480px;
        }
    }

    .side-wrapper {
        width: 280px;
        height: auto;
        border-right: 3px solid setColor(dark);

        .side-bar {
            position: sticky;
            top: 100px;

            .nav-item {
                margin: 10px 5px 10px 0px;

                &:nth-child(9) {
                    margin-bottom: 20px;
                }

                &.active, &:hover {
                    background: setColor(dark);
                    border-radius: 0px 100px 100px 0px;
                    transition: .3s ease-out;
                    
                    .nav-link {
                        color: setColor(light);
                    }
                }

                .nav-link {
                    color: setColor(dark);
                    font-size: 18px;

                    i {
                        width: 35px;
                        text-align: center;
                    }
                }
            }
        }
    }
}